section {
  background-color: #1ABC9C;
}
.about-info{
  height: 97vh;
}



.icon::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  top: 10px;
  left: -100px;
  background-color: white;
}

.icon::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  top: 10px;
  left: 40px;
  background-color: white;
}