<section class="">
  <div class="about-info d-flex flex-column justify-content-center align-items-center pt-5">
    <p class="text-uppercase text-white fs-1 fw-bolder pt-5">about component</p>
    <div class="position-relative">
      <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="icon position-relative">
          <i class="fa-solid fa-star text-white"></i>
        </div>
      </div>
      <div class="container">
        <div class="row px-5">
          <div class="col-md-6 ps-md-5">
            <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
              including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>
          <div class="col-md-6 pe-md-5">
            <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
              including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>