<nav class="navbar navbar-expand-lg fixed-top " [ngStyle]="{'padding': padding}">
  <div class="container">
    <a class="navbar-brand text-white fw-bolder fs-2" routerLink="">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white fw-bold px-3" routerLinkActive="active rounded-3" routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold px-3" routerLinkActive="active rounded-3"
            routerLink="portfolio">PORTIFOLO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold px-3" routerLinkActive="active rounded-3"
            routerLink="contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>