<section>
  <div class="container-fluid p-5 ">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="information text-white text-center mt-4 pe-4 pt-5">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="information text-white text-center mt-4 pe-4 pt-5">
          <h3>AROUND THE WEB</h3>
          <div class="icons">
            <i class="fa-brands fa-facebook mx-1 icon"></i>
            <i class="fa-brands fa-twitter mx-1 icon"></i>
            <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
            <i class="fa-solid fa-globe mx-1 icon"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="infornation text-center text-white mt-4 pe-4 pt-5">
          <h3>ABOUT FREELANCER</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
</section>