<section>
  <div class="home-info text-center d-flex justify-content-center align-items-center flex-column">
    <img src="./assets/images/avataaars.svg" class="mt-5 pt-5" alt="home_img">
    <div class="position-relative">
      <h2 class="text-uppercase mt-5 text-white fw-bolder fs-1">start Framework</h2>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="icon position-relative">
          <i class="fa-solid fa-star text-white"></i>
        </div>
      </div>
      <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>